@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 96%;
    --foreground: 240 6% 10%;

    --card: 240 20% 100%;
    --card-foreground: 240 6% 10%;

    --popover: 240 20% 100%;
    --popover-foreground: 240 6% 10%;

    --primary: 270 50% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 45%;

    --accent: 274 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 89%;
    --input: 240 6% 89%;
    --ring: 270 50% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;

    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 270 50% 65%;
    --primary-foreground: 270 50% 10%;

    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 5% 15%;
    --muted-foreground: 0 0% 63%;

    --accent: 274 100% 70%;
    --accent-foreground: 274 100% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 18%;
    --input: 240 5% 18%;
    --ring: 270 50% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
